Source: open-iscsi
Section: net
Priority: optional
Maintainer: Philipp Hug <debian@hug.cx>
Uploaders: Andrew Moise <chops@demiurgestudios.com>
Build-Depends: debhelper (>= 4.0.0), bzip2, bison, flex
Standards-Version: 3.8.0
Homepage: http://www.open-iscsi.org/

Package: open-iscsi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, udev
Description: High performance, transport independent iSCSI implementation
 iSCSI is a network protocol standard that allows the use of the SCSI protocol
 over TCP/IP networks.  This implementation follows RFC3720.

#Package: linux-iscsi-modules-source
#Architecture: all
#Depends: ${shlibs:Depends}, ${misc:Depends}, module-assistant, debhelper (>= 4.0.0), bzip2
#Description: Source Code for the Linux iSCSI Kernel Modules
# Along with make-kpkg, this package maybe used to build a linux-iscsi-modules 
# package for a kernel-image package.

