[Unit]
Description=iSCSI initiator
DefaultDependencies=no
Before=sysinit.target shutdown.target remote-fs-pre.target
After=network-online.target
Wants=network-online.target
Conflicts=shutdown.target

[Service]
Type=forking
Restart=no
TimeoutSec=0
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SysVStartPriority=20
ExecStart=/etc/init.d/open-iscsi start
ExecStop=/etc/init.d/open-iscsi stop

[Install]
WantedBy=multi-user.target
